.lockImg{
    background-size: contain;
    background-color: transparent;
    color:white;
    display: inline-block;
    height: 13.5px;
    margin: 2px 4px 0 0 ;
    outline-color: white;
    text-align: center;
    vertical-align: text-top;
    width: 0.8em;
}

.auxiliarServicesLogoImg{
    display: inline-block;
    height: 23px;
    margin: 0 4px 0 0;    
}
.auxiliarServicesTextImg{
    height: 20px;
    margin: 0 9px 0 0;    

}







