#signUpHeaderDiv{  
    display: block;
    float: none;
    height: 60px;
    background-origin: padding-box;
    line-height: 18px;
    padding: 10px 30px 10px 30px;
    margin: 0;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#signUpBlockDiv{
    float: right;
    width: 298px;
    height: 36px;
    margin: 0;
    padding: 0;
}
#signUpHeaderTextDiv{
    display: block;
    float: left;
    margin-left:10px;
    padding: 0;
    height: 36px;
    width: 175px;
    font-size: 12px; 
    line-height: 18px;
    font-weight: 400;           
}

#signUpHeaderTextP{
    display: block;
    color: #505050;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 170.719px;
}

#signUpHeaderTextA{
    color: #0077C5;
    height: 14px;
}

#signUpButtonDiv{
    display: block;
    float: right;
    height: 34px;
    margin-left: 10px;
    width: 102.563px;
}

#signUpButton{
    align-items: flex-start;
    display: inline-block;
    width: 102.563px;
    height: 34px;
}

#intuitLogoImg{
    margin: auto;
    display: block;
    height: 35px;
}
#auxiliarServicesDiv{
    display: flex;
    margin: auto;
    justify-content: center;
    height: 23px;
    margin: 0 0 15px 0;      
}
#auxiliarServicesMintTextImg{
    height: 20px;
}
#headerFormSection{
    background-color: transparent;
}
#createAccountButton{
    border-width: 0;
    margin-top: 30px;
    margin-bottom: 41px;
    width: 100%;
    padding: 6px 12px;
    height: 44px;
    font-size: 15.75px;
}
#formTermsP{
    padding:0 15px;
    background-color: transparent;
    font-size: 12px;
    font-style: italic;
    color:#757575;
    text-align: center;
    width: auto;
    margin-bottom: 32px;
}
#invisibleCaptchaP{
    background-color: #ECEEF1;
    color:#8d9096;
    font-size: 10px;
    padding: 16px;
    text-align: center;
    width:100%;
    width: 346px;
    padding: 16px;
    margin:auto;
}