
#alreadyHaveAccountDiv{
    width: fit-content;
    float: right;
    margin: 0;
    padding: 0;
}
#signInButtonDiv{
    float: right;
    padding: 0 20px;
    font-size: 1.125em;

}
#alreadyHaveAccountP{
    text-align: right;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
}
#intuitLogoImg{
    width: 15%;
}
#auxiliarServicesImg{
    width: 35%;
}
#intuitLogoImg{
    opacity: 50%;
}

#term-and-conditions {
    font-size: 12px;
    color: #9c9aac;
    text-align: center;
  }