/* 
#signUpHeaderDiv,#signUpBlockDiv,#signUpHeaderTextDiv,#signUpHeaderTextP,#signUpHeaderTextA,#signUpButtonDiv,#signUpButton{
    border-style: solid;
    border-width: 0.0001px;
    box-sizing: border-box;

} */