* {
  background-color: #eceef1;
}


/* tags formats */

body {
  margin: 0;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  background-color: rgb(0, 119, 197);
  color: white;
  border-color: #4c4c4c;
  border-width: 1px;
  border-radius: 4px;
  margin: auto;
  outline-color: white;
  padding: 0 20px 0 20px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  font-size: 13.5px;
  font-weight: 400;
}

header {
  height: 35px;
  padding: 20px 0 20px 0;
}

form {
  display: block;
  background-color: white;
  padding: 30px;
  height: 80%;
  line-height: 1.5;
  margin: auto;
  text-align: left;
  width: 318px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 1.1;
  color: #4c4c4c;
  margin: 0;
}

h2 {
  font-size: 14px;
  background-color: transparent;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: #4c4c4c;
}

a {
  color: #0077c5;
  background-color: transparent;
  text-decoration: none;
}

input {
  background-color: transparent;
  width: 320px;
  margin: 0;
  padding: 0;
  border-width: 1px;
  height: 34px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

label {
  display: inline-block;
  margin-top: 20px;
  background-color: transparent;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
  font-size: 14px;
  padding-bottom: 6px;
  line-height: 1.5;
}

nav {
  margin: auto;
  text-align: center;
}

footer {
  margin: 20px 0;
}


/* classes formats */

.lockImg {
  background-size: contain;
  background-color: transparent;
  color: white;
  display: inline-block;
  height: 13.5px;
  margin: 2px 4px 0 0;
  outline-color: white;
  text-align: center;
  vertical-align: text-top;
  width: 0.8em;
}

.auxiliarServicesLogoImg {
  display: inline-block;
  height: 23px;
  margin: 0 4px 0 0;
}

.auxiliarServicesTextImg {
  height: 20px;
  margin: 0 9px 0 0;
}

.fieldFooterLabel {
  font-size: 10px;
  padding: 5px 0 5px 0;
  margin: 0;
  line-height: 1.5;
}

.footerLinks {
  color: #505050;
  font-size: 12px;
  text-align: center;
  margin: 0;
  line-height: 1.5;
}


/* elements formats */

#signUpHeaderDiv {
  display: block;
  float: none;
  height: 60px;
  background-origin: padding-box;
  line-height: 18px;
  padding: 10px 30px 10px 30px;
  margin: 0;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#signUpBlockDiv {
  float: right;
  width: 298px;
  height: 36px;
  margin: 0;
  padding: 0;
}

#signUpHeaderTextDiv {
  display: block;
  float: left;
  margin-left: 10px;
  padding: 0;
  height: 36px;
  width: 175px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

#signUpHeaderTextP {
  display: block;
  color: #505050;
  height: 18px;
  margin: 0;
  padding: 0;
  width: 170.719px;
}

#signUpHeaderTextA {
  color: #0077c5;
  height: 14px;
}

#signUpButtonDiv {
  display: block;
  float: right;
  height: 34px;
  margin-left: 10px;
  width: 102.563px;
}

#signUpButton {
  align-items: flex-start;
  display: inline-block;
  width: 102.563px;
  height: 34px;
}

#intuitLogoImg {
  margin: auto;
  display: block;
  height: 35px;
}

#auxiliarServicesDiv {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 23px;
  margin: 0 0 15px 0;
}

#auxiliarServicesMintTextImg {
  height: 20px;
}

#headerFormSection {
  background-color: transparent;
}

#createAccountButton {
  border-width: 0;
  margin-top: 30px;
  margin-bottom: 41px;
  width: 100%;
  padding: 6px 12px;
  height: 44px;
  font-size: 15.75px;
}

#formTermsP {
  padding: 0 15px;
  background-color: transparent;
  font-size: 12px;
  font-style: italic;
  color: #757575;
  text-align: center;
  width: auto;
  margin-bottom: 32px;
}

#invisibleCaptchaP {
  background-color: #eceef1;
  color: #8d9096;
  font-size: 10px;
  padding: 16px;
  text-align: center;
  width: 100%;
  width: 346px;
  padding: 16px;
  margin: auto;
}

#borderFormDiv {
  width: 378px;
  margin: auto;
  border-color: rgb(199, 199, 199);
  border-width: 1px;
  border-style: solid;
}