*{
    background-color: #ECEEF1;
}
body{
    margin: 0;
}
button{
    background-color: rgb(0,119,197);
    color:white;
    border-color: #4c4c4c;
    border-width: 1px;
    border-radius: 4px;
    outline-color: white;
    padding: 0 20px 0 20px;
    text-align: center;
    cursor: pointer;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;    
    font-weight: 400;    
}
